{
  "env": {
     "browser": true,
     "es6": true,
     "jest": true
  },
  "extends": [
     "standard",
     "react-app",
     "plugin:fp/recommended",
     "plugin:jest/recommended"
  ],
  "globals": {
     "Atomics": "readonly",
     "SharedArrayBuffer": "readonly"
  },
  "overrides": [
      {
         "files": ["*.test.js", "*.spec.js"],
         "rules": {
            "fp/no-unused-expression": "off",
            "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
         }
      }
   ],
  "parserOptions": {
     "ecmaFeatures": {
        "jsx": true
     },
     "ecmaVersion": 11,
     "sourceType": "module"
  },
  "plugins": [
     "fp",
     "import",
     "jest",
     "react",
     "react-hooks"
  ],
  "rules": {
     "comma-dangle": ["error", "always-multiline"],
     "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}]
  }
}
